$font-stack: Helvetica,
sans-serif;
$primary-color: #333;

@import 'base';

body {
  color: #333;
  font-size: 13px;
  margin-bottom: 60px;
}

header {
  margin-bottom: 20px;

  nav {
    .navbar-nav {
      margin: 0;
      float: right;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    li {
      display: inline-block;
    }

    a {
      display: block;
      padding: 6px 12px;
      text-decoration: none;
    }
  }
}

@mixin border-radius($radius) {
  border-radius: 1px;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

#panel {
  display: flex;
  width: 900px;
  justify-content: space-around;
}

.panel.panel-primary {
  margin: 20px auto;
  width: 800px;

  .panel-body {
    padding: 0;
  }

  .panel-heading {
    padding: 10px 0;
  }

  .display-row {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .no {
      width: 4%;
    }

    .fn {
      width: 14%;
    }

    .ln {
      width: 14%;
    }

    .company {
      width: 18%;
    }

    .address {
      width: 20%;
    }

    .location {
      width: 15%;
    }

    .display-cell {
      padding: 5px;
      word-wrap: break-word;
    }
  }

  .thead {
    font-weight: bold;
    font-size: 14px;
  }

  .tbody:nth-child(2n+1) {
    background-color: lightblue;
  }
}

.box {
  @include border-radius(8px);
}

.message {
  border: 1px solid #ccc;
  background-color: #fafafa;
  padding: 10px;
  color: #333;

  font: {
    family: "Arial";
    size: 14px;
    weight: bold;
  }
}

.form-control {
  position: relative;
  padding-bottom: 1rem;

  input,
  select,
  textarea {
    margin-bottom: 0;
  }

  span.error {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    background: none;
    color: #cc6600;
  }
}

.success {
  @extend .message;
  border-color: green;
  background-color: #ccc;
}

input.error,
textarea.error,
select.error {
  @extend .message;
  border-color: red;
  font-weight: normal;
  margin-bottom: 0;
}

.warning {
  @extend .message;
  border-color: yellow;
  background-color: #111;
}

.container {
  width: 100%;
}

article[role="main"] {
  float: left;
  width: 600px / 960px * 100%;
}

aside[role="complimentary"] {
  float: right;
  width: 300px / 960px * 100%;
}

.footer {
  background-color: #f5f5f5;
  bottom: 0;
  height: 60px;
  position: fixed;
  width: 100%;

  .container {
    width: 1000px;

    p {
      margin: 20px 0 0 0;
    }
  }
}